.companiesContainer {
    margin-left: 135px;
}


.companiesTitle {
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    color: #212529;
}

.companiesDesc {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    color: #212529;
    width: 804px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.companiesSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 600px);
    margin-left: 172px;
}

.companies {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.companies p {
    width: 347px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #3E3658;
    margin-left: 18px;
}
