.headerSection {
    background: #3E3658;
    width: 100vw;
    height: 586px;
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-weight: 500;
    font-size: 40px;
    color: white;
    margin-left: 40px;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-left: 135px;
    width: 1200px;
}

.headerNav p{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

